

.cart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
            @media (max-width:567px) {
                grid-template-columns: repeat(1, 1fr);
            }
    .cart-item-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .cart-id-wrap {
            display: flex;
            align-items: center;
            border-radius: 4px;
            background-color: #ff9f9f;
            height: 36px;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            padding: 0px 10px;
        }
        .detail-wrap {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .userId-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                p:first-child {
                    font-weight: bold;
                }
            }
            .date-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .wrap-product-quantity {
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px solid #c9c9c9;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .product-wrap,
            .quantity-wrap {
                display: flex;
                gap: 10px;
                flex-direction: column;
            }
            .quantity-wrap {
                align-items: center !important;
            }
        }
    }
}
