.view-section {
    margin-bottom: 40px;
    @media (max-width: 1250px) {
        padding: 0px 15px;
    }
    .container-itemview {
        max-width: 1200px;
        margin: 60px auto 0 auto;
        background-color: white;
        position: relative;
        padding: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        img {
            width: 100%;
            height: 200px;
            object-fit: contain;
        }
        .description-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .title {
                font-size: 30px;
            }
            .wrap-text {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                .price {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .wrap-text-2 {
                display: flex;
                align-items: center;
                gap: 30px;
                .rate {
                    color: red;
                }
            }
        }
        .wrap-button {
            position: absolute;
            bottom: 25px;
            right: 70px;
            display: flex;
            gap: 20px;
            @media (max-width: 998px) {
                position: relative;
                justify-content: center;
                width: 100%;
                inset: 0;
            }
            a {
                margin: 0px;
                cursor: pointer;
                font-size: 15px;
                height: 40px;
                width: 120px;
                border-radius: 4px;
                color: #292f49;
                background-color: #ffffff;
                border: 1px solid #292f49;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }

            .buttonAdd {
                cursor: pointer;
                font-size: 15px;
                height: 40px;
                width: 120px;
                border-radius: 4px;
                color: white;
                background-color: #292f49;

                &:hover {
                    background-color: #191c2d;
                }
            }
        }
    }
    .back-btn {
        display: block;
        margin: 50px auto;
        cursor: pointer;
        font-size: 15px;
        padding: 8px 23px;
        border: 2px solid darkgrey;
        border-radius: 4px;
        &:hover {
            background-color: rgb(139, 139, 139);
        }
    }
}
