.container-checkout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: calc(100vh - 140px);

    img {
        width: 120px;
    }
    .wrap-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h1 {
            font-size: 1.5rem;
            color: #9a9a9a;
            font-weight: lighter;
        }
        p {
            color: #9a9a9a;
            @media (max-width: 567px) {
                text-align: center;
            }
        }
    }
    .wrap-btn {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        justify-content: center;
        .home-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            color: black;
            border: 0px;
            background-color: transparent;
            cursor: pointer;
        }
        .print-btn {
            width: 100px;
            height: 38px;
            background-color: #f97e7e;
            color: white;
            border: 0px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
