h3 {
    font-size: 25px;
}



.nav-cart {
    margin: 50px auto 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 30px;
    width: 100%;
    @media (max-width: 650px) {
        gap: 10px;
        background-color: white;
        position: fixed;
        top: 0;
        width: 200px;
        flex-direction: column;
        height: 100vh;
        margin: 0px;
        left: 0;
        z-index: 500;
        transition-duration: 0.3s;
    }
    .home {
        text-decoration: none;
        button {
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            gap: 10px;
            justify-content: center;
            border: 0px;
            color: white;
            cursor: pointer;
            background-color: #4f576d;
            i {
                font-size: 16px;
            }
            p {
                font-size: 16px;
            }
            &:hover {
                filter: brightness(95%);
            }
        }
        @media (max-width: 650px) {
        }
    }

    .product {
        text-decoration: none;
        button {
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            gap: 10px;
            justify-content: center;
            border: 0px;
            color: white;
            cursor: pointer;
            background-color: #17c35f;
            i {
                font-size: 16px;
            }
            p {
                font-size: 16px;
            }
            &:hover {
                filter: brightness(95%);
            }
        }
    }
    .cartApi {
        button {
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            gap: 10px;
            justify-content: center;
            border: 0px;
            color: white;
            cursor: pointer;
            background-color: #ff9f9f;
            i {
                font-size: 16px;
            }
            p {
                font-size: 16px;
            }
            &:hover {
                filter: brightness(95%);
            }
        }
    }
    .cart {
        button {
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            gap: 10px;
            justify-content: center;
            border: 0px;
            color: white;
            cursor: pointer;
            background-color: #1c1c2c;
            i {
                font-size: 16px;
            }
            p {
                font-size: 16px;
            }
            &:hover {
                filter: brightness(95%);
            }
        }
    }

    .close-btn {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        @media (max-width: 650px) {
            opacity: 1;
            cursor: pointer !important;
            background-color: transparent;
            color: black;
            top: 10px;
            right: 20px;
            font-size: 30px;
            border: 0px;
            pointer-events: all;
        }
    }
}
.close {
    @media (max-width: 650px) {
        transform: translateX(-200px);
    }
}
